$border-size: 1px;
$main-width: 800px;

.main {
  width: 90%;
  max-width: #{$main-width + ($border-size * 2)};
  margin: 5rem auto;
}

.container {
  display: grid;
  border: $border-size solid #888;

  &.demo {
    gap: 1rem;

    .item {
      background: red;
    }
  }
  &.grid-template {
    height: 500px;
    grid-template-columns: 40px 50px auto 50px 40px;
    grid-template-rows: 25% 100px auto;

    &--fr {
      grid-template-columns: repeat(4, 1fr) 2fr;
      grid-template-rows: repeat(3, calc(300px / 3));
    }
  }
  &.template-areas {
    height: 500px;
    grid-template-columns: 1fr 1fr 10px 100px;
    grid-template-rows: 40px auto 20px;
    grid-template-areas: "header header header header" "main main . sidebar" "footer footer footer footer";

    .item-a {
      grid-area: header;
    }
    .item-b {
      grid-area: main;
    }
    .item-c {
      grid-area: sidebar;
    }
    .item-d {
      grid-area: footer;
    }
  }
  &.grid-gap {
    height: 300px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 1rem;
    grid-row-gap: .5rem;
    gap: 1rem .5rem;

    .item {
      background: blue;
    }
  }
  &.justify-items {
    height: 300px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: .5rem;

    &.start {
      justify-items: start;
    }
    &.center {
      justify-items: center;
    }
    &.end {
      justify-items: end;
    }
    &.stretch {
      justify-items: stretch;
    }
    .item {
      background: green;
      padding: 2rem;
    }
  }
  &.align-items {
    height: 300px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: .5rem;

    &.start {
      align-items: start;
    }
    &.center {
      align-items: center;
    }
    &.end {
      align-items: end;
    }
    &.stretch {
      align-items: stretch;
    }
    .item {
      background: green;
      padding: 1rem;
    }
  }
  &.place-items {
    height: 300px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: .5rem;
    place-items: start end;

    .item {
      background: green;
      padding: 1rem;
    }
  }
  &.justify-content {
    height: 300px;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 1fr);
    gap: .5rem;

    &.start {
      justify-content: start;
    }
    &.center {
      justify-content: center;
    }
    &.end {
      justify-content: end;
    }
    &.stretch {
      justify-content: stretch;
      &.justify-content {
        grid-template-columns: repeat(3, auto);
      }
    }
    &.space-around {
      justify-content: space-around;
    }
    &.space-between {
      justify-content: space-between;
    }
    &.space-evenly {
      justify-content: space-evenly;
    }
    .item {
      background: green;
    }
  }
  &.align-content {
    height: 300px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 50px);
    gap: .5rem;

    &.start {
      align-content: start;
    }
    &.center {
      align-content: center;
    }
    &.end {
      align-content: end;
    }
    &.stretch {
      align-content: stretch;
      &.align-content {
        grid-template-columns: repeat(3, auto);
      }
    }
    &.space-around {
      align-content: space-around;
    }
    &.space-between {
      align-content: space-between;
    }
    &.space-evenly {
      align-content: space-evenly;
    }
    .item {
      background: green;
    }
  }
  &.grid-auto {
    grid-auto-columns: auto;
    grid-auto-rows: 90px;

    .item {
      background: tomato;
      grid-column: 5 / 6;
      grid-row: 2 / 4;
    }
  }
  &.grid-item {
    height: 600px;
    grid-template-columns: 50px 100px auto 100px 50px;
    grid-template-rows: 100px 200px auto;

    .item {
      box-shadow: 0 0 0 10px rgba(black, .2) inset;

      &-a {
        background: rgba(red, .3);
        grid-column-start: 2;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 3;
      }
      &-b {
        background: rgba(blue, .3);
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 4;
      }
      &-c {
        background: rgba(green, .3);
        grid-column: 3 / 6;
        grid-row: 3 / 4;
      }
    }
  }
  &.justify-self {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 100px;
    gap: .5rem;

    .item {
      background: tomato;
      padding: 1rem;

      &.start {
        justify-self: start;
      }
      &.center {
        justify-self: center;
      }
      &.end {
        justify-self: end;
      }
      &.stretch {
        justify-self: stretch;
      }
    }
  }
  &.align-self {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 100px;
    gap: .5rem;

    .item {
      background: tomato;
      padding: 1rem;

      &.start {
        align-self: start;
      }
      &.center {
        align-self: center;
      }
      &.end {
        align-self: end;
      }
      &.stretch {
        align-self: stretch;
      }
    }
  }
}
