@import "reset";
@import "prism";
@import "guide";

h1 {
  &.chapter {
    margin: 10rem auto 2rem;
  }
}

h2 {
  &.sub-chapter {
    font-size: 1rem;
    margin: 1rem auto 0;
    color: #888;
  }
}

.btn {
  display: block;
  margin: 10rem auto;
  text-align: center;

  &-inner {
    display: inline-block;
    text-align: center;
    padding: 1rem;
    background: #4d90fe;
    box-shadow: 0 10px 24px rgba(#4d90fe, .5);
    color: #fff;
    transition: all .2s ease-in-out;
    text-transform: uppercase;
    font-weight: bold;

    &:hover {
      color: #fff;
      text-decoration: none;
      background: #26487E;
      box-shadow: 0 10px 36px rgba(#4d90fe, .75);

    }
  }
}

